body {
  color: #000000;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
}

.header {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.link {
  margin-top: 10px;
  border: 1px solid #fff;
  height: 100px;
  padding: 4px;
}

.link:hover {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

.link a {
  color: #000;
  font-weight: 600;
}

.link a:hover {
  color: #387ed1;
}

.link .thumb {
  width: 200px;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link .thumb .thumbnail {
  height: 100%;
  max-width: 100%;
}

.text {
  font-size: 16px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.stats {
  margin-top: 10px;
  display: flex;
}

.push {
  margin-left: auto;
}

.stats a {
  text-decoration: none;
  margin-right: 5px;
}

.admin form {
  margin-top: 10px;
  color: #000;
}

.admin form input {
  background-color: transparent;
  border: 1px solid #d1d1d1;
}

.error {
  font-weight: bold;
  color: red;
}

.success {
  font-weight: bold;
  color: green;
}

.data {
  display: flex;
  width: 100%;
}

.row .linker {
  display: flex;
  text-decoration: none;
}

.social {
  margin: auto;
  width: fit-content;
}

.social a {
  color: #222222;
}

.footer {
  color: dimgray;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}
