<!doctype html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Intro}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container admin">
            <section class="header">
                <a href="/">
                    <img width="100px" src="{{.LogoURL}}">
                </a>
                <h3>{{.Title}}</h3>
                <h5>{{.Intro}}</h5>
            </section>

            <span class="error">{{.Error}}</span>
            <span class="success">{{.Success}}</span>
            <hr>
            <h5>New Link</h5>
            <form action="/admin/links/new" method="POST">
                <label for="url">URL*</label>
                <input class="u-full-width" placeholder="https://" type="url" name="url"><br>  
                
                <label for="text">Text*</label>
                <input class="u-full-width" placeholder="Description" type="text" name="text"><br>    
                
                <label for="image_url">Image URL</label>
                <input class="u-full-width" placeholder="https://" type="url" name="image_url"><br>

                
                <input type="submit" type="submit" value="Submit">
            </form>
            <hr>
            {{ range .Links }}
 
            <div class="stats">
                <a href="/admin/links/{{.ID}}/weight?action=up">Up</a> 
                <a>
                   ({{.Weight}})
                </a>
                <a href="/admin/links/{{.ID}}/weight?action=down">Down</a> 
                <div class="push"></div>
                <a href="/admin/links/{{.ID}}/delete">Delete</a> 
            </div>               
            <div class="row link">
                <div class="linker"> 
                {{if .ImageURL}}
                <div class="thumb">
                    <img class="thumbnail" src="{{.ImageURL}}">
                </div>
                {{end}}
                <div class="data">
                    <span class="text">
                        {{ .Text }}
                    </span>
                </div>
                </div>
            </div>
            <form action="/admin/links/{{.ID}}/update" action="POST">
                <input class="u-full-width" name="text" value="{{ .Text }}" type="text"><br>
                <input class="u-full-width" name="url" value="{{ .URL }}" type="text"><br>
                <input class="u-full-width" name="image_url" value="{{ .ImageURL }}" type="text"><br>

                <input class="u-full-width" type="submit" type="submit" value="Update">
            </form>
            {{ end }}


        </div>
    </body>
</html>
