<!doctype html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Intro}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <section class="header">
                <a href="/">
                    <img width="100px" src="{{.LogoURL}}">
                </a>
                <h3>{{.Title}}</h3>
                <h5>{{.Intro}}</h5>
            </section>
            {{ range .Links }}
            <div class="row link">
                <a href="{{.URL}}" ping="/hits/{{.ID}}">
                {{if .ImageURL}}
                <div class="two columns">
                    <img class="thumbnail" src="{{.ImageURL}}">
                </div>
                <div class="ten columns">
                {{ else }}
                <div class="twelve columns">
                {{end}}
                    <span class="text">
                        {{ .Text }}
                    </span>
                </div>
                </a>
            </div>
            {{ end }}
        </div>
    </body>
</html>
