body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 800px;
}
.header {
  margin-top: 6rem;
  text-align: center;
}
.link {
  margin-top: 10px;
  background: #4361d8;
  border: 1px solid #7d93e8;
  border-radius: 3px;
  color: #fff;
  height: 100px;
  text-align: center;
}
.link:hover {
  background: #1d2d2c;
  border-color: #273d3b;
}
.link a {
  color: #fff;
}
.text {
  line-height: 100px;
  font-size: 16px;
}
.thumbnail {
  width: 100px;
  height: 100px;
}
.stats {
  margin-top: 10px;
}

.admin form {
  margin-top: 10px;
  color: #000;
}

.admin form input {
  background-color: transparent;
  border: 1px solid #d1d1d1;
}

.error {
  font-weight: bold;
  color: red;
}
