<!doctype html>
<html> 
    {{ template "header" . }}
    <body>
        <div class="container">
            <section class="header">
                <a href="/">
                    <img width="100px" src="{{.LogoURL}}">
                </a>
                <h3>{{.Title}}</h3>
                <h5>{{.Intro}}</h5>
            </section>
            {{ range .Links }}
            <div class="row link">
                <a class="linker" href="{{.URL}}" target="_blank" onclick="return recordHit({{.ID}})">
                {{if .ImageURL}}
                <div class="thumb">
                    <img class="thumbnail" src="{{.ImageURL}}">
                </div>
                {{end}}
                <div class="data">
                    <span class="text">
                        {{ .Text }}
                    </span>
                </div>
                </a>
            </div>
            {{ end }}

            <hr>

            <div class="row">
                <div class="social">
                {{ range $k, $v := .Social }}
                {{ if ne $v "" }}
                <a href="{{$v}}" style="text-decoration:none;">
                    <i data-feather="{{$k}}"></i>
                </a>
                {{ end }}
                {{ end }}
                </div>
            </div>
            
            <div class="row footer">
                powered by <a href="https://github.com/rhnvrm/linkpage">LinkPage</a>
            </div>
        </div>
        <script type="text/javascript">

         async function fetchAsync (url) {
             let response = await fetch(url);
             let data = await response.json();
             return data;
         }
         async function recordHit(id) {
             fetchAsync("/hits/"+id)
             return true
         }
        </script>
        <script src="static/app/js/feather.min.js"></script>
        <script>
         
         document.addEventListener("DOMContentLoaded", function(event) { 
             feather.replace()
         });
        </script>
    </body>
</html>
