{{define "header"}}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Intro}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500&family=Playfair+Display:wght@700;900&display=swap" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/app/css/normalize.css">
        <link rel="stylesheet" href="/static/app/css/skeleton.css">
        <link rel="stylesheet" href="/static/app/css/app.css">
        <link rel="stylesheet" href="/static/app/css/custom.css">

        <!-- Favicon -->
        <link rel="icon" href="/static/app/img/favicon.ico" type="image/x-icon" />
    </head>
{{end}}