{{define "header"}}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Intro}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/app/css/normalize.css">
        <link rel="stylesheet" href="/static/app/css/skeleton.css">
        <link rel="stylesheet" href="/static/app/css/app.css">
        <link rel="stylesheet" href="/static/app/css/custom.css">
        <link rel="icon" href="/static/app/favicon.ico" type="image/x-icon" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    </head>
{{end}}